<template>
  <div class="home">
    <Employee/>
  </div>
</template>

<script>
// @ is an alias to /src
import Employee from '../components/Employee.vue'

export default {
  name: 'home',
  components: {
    Employee
  }
}
</script>
