<template>
  <div>
    <div>Review Purchase Orders</div>
    <order-data
      :orders="orders"
      :invoices="invoices"
      @markDispatched="handleOrderDispatching"
      @markReturned="handleOrderReturn"
      @acceptRPExtension="handlePOExtensionAcceptance"
      @acceptPO="handlePOAcceptance"
    ></order-data>
  </div>
</template>

<script>
import OrderData from "./OrderData.vue";

import axios from "axios";

export default {
  name: "Employee",
  components: {
    OrderData
  },
  data: function() {
    return {
      orders: [],
      invoices: []
    };
  },
  methods: {
    getPurchaseOrderList: function() {
        console.log("it is invoked")
      axios
        .get("https://rentitnative.herokuapp.com/api/sales/allOrders")
        .then(response => {
            console.log(response.data)
          this.orders = response.data;
        })
        .catch(error => {
          console.log(error)
          this.$snackbar.open({
            type: "is-danger",
            message: "Something went wrong with retrieving plant orders."
          });
        });
    },
    getInvoiceList: function() {
        console.log("it is invoked")
      axios
        .get("https://rentitnative.herokuapp.com/api/invoice")
        .then(response => {
            console.log(response.data)
          this.invoices = response.data;
        })
        .catch(error => {
          console.log(error)
          this.$snackbar.open({
            type: "is-danger",
            message: "Something went wrong with retrieving invoices."
          });
        });
    },    
    handleOrderReturn: function(id) {
      if (id) {
        axios
          .post(
            "https://rentitnative.herokuapp.com/api/employee/changeStatusToReturned/" + id
          )
          .then(response => {
            this.getPurchaseOrderList();
            this.getInvoiceList()
          })
          .catch(error => {
            this.$snackbar.open({
              type: "is-danger",
              message:
                "Something went wrong with marking purchase order as returned."
            });
          });
      }
    },
    handlePOAcceptance: function(id) {
      if (id) {
        axios.post("https://rentitnative.herokuapp.com/api/sales/orders/" + id + "/accept")
        .then(response => {
            this.getPurchaseOrderList();      
        })
        .catch(error =>{
            console.log(error);
            this.$snackbar.open({
              type: "is-danger",
              message: "Something went wrong with purchase order acceptance."
            })
          })
      }
    },
    handlePOExtensionAcceptance: function(id, exId) {
      if (id) {
        axios.post("https://rentitnative.herokuapp.com/api/sales/orders/" + id +"/extensions/" + exId+ "/accept")
        .then(response => {
          this.getPurchaseOrderList();
        })
        .catch(error => {
          console.log(error);
            this.$snackbar.open({
              type: "is-danger",
              message:
                "Something went wrong with order extension acceptance."
            });          
        })
      }
    },
    handleOrderDispatching: function(id) {
      if (id) {
        axios
          .post(
            "https://rentitnative.herokuapp.com/api/employee/changeStatusToDispatched/" + id
          )
          .then(response => {
            this.getPurchaseOrderList();
          })
          .catch(error => {
            this.$snackbar.open({
              type: "is-danger",
              message:
                "Something went wrong with marking purchase order as dispatched."
            });
          });
      }
    },
  },
  mounted: function() {
    this.getPurchaseOrderList();
    this.getInvoiceList();
  }  
};
</script>
