<template>
  <div>
    <table class="table is-table-bordered is-table-striped is-fullwidth" id="orders">
      <thead>
        <tr>
          <th class="has-text-center">Name</th>
          <th class="has-text-center">Description</th>
          <th class="has-text-center">Price</th>
          <th class="has-text-center">Status</th>
          <th class="has-text-center">Extension Status</th>
          <th class="has-text-center">Extension End Date</th>
          <th class="has-text-center">Start Date</th>
          <th class="has-text-center">End Date</th>
          <th class="has-text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="order in orders" :key="order.id" class="order">
          <td>{{order.plant.name}}</td>
          <td>{{order.plant.description}}</td>
          <td>{{order.plant.price}}</td>
          <td>{{order.status}}</td>
          <td>{{order.poExtensionRequests.extStatus}}</td>
          <td>{{order.poExtensionRequests.extensionEndDate}}</td>
          <td>{{order.rentalPeriod.startDate}}</td>
          <td>{{order.rentalPeriod.endDate}}</td>
          <button
            v-if="order.status!='PLANT_DISPATCHED'&&order.status!='PLANT_RETURNED'"
            class="button is-success is-small"
            @click="markDispatched(order.id)"
            id="approve"
          >mark dispath</button>
          <button
            v-if="order.status!='PLANT_RETURNED'"
            class="button is-danger is-small"
            @click="markReturned(order.id)"
            id="reject"
          >mark returned</button>
          <button
          v-if="order.status=='PENDING_EXTENSION'"
          class="button is-info is-small"
          @click="acceptRPExtension(order)"
          id="acceptPOextension">
          accept PO extension
          </button>
          <button
            v-if="order.status=='PENDING'"
            class="button is-info is-small"
            @click="acceptPO(order.id)"
            id="acceptPOextension">
            accept PO
          </button>          
        </tr>
      </tbody>
    </table>
    <h1><b> Invoice List</b></h1>
    <table class="table is-table-bordered is-table-striped is-fullwidth" id="invoices">
      <thead>
        <tr>
          <th class="has-text-center">Purchase Order id</th>
          <th class="has-text-center">Invoice id</th>
          <th class="has-text-center">Status</th>
          <th class="has-text-center">Due Date</th>
          <th class="has-text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="invoice in invoices" :key="invoice.id" class="invoice">
          <td>{{invoice.purchaseOrder.id}}</td>
          <td>{{invoice.id}}</td>
          <td>{{invoice.status}}</td>
          <td>{{invoice.dueDate}}</td>
          <td>{{invoice.purchaseOrder.total}}</td>
        </tr>
      </tbody>
    </table>    
  </div>
</template>

<script>
export default {
  name: "OrderData",
  props: ["orders", "invoices"],
  data() {
    return {
      id: 0,
      exId: 0
    };
  },
  methods: {
    markDispatched: function(id) {
      this.$emit("markDispatched", id);
    },
    markReturned: function(id) {
      this.$emit("markReturned", id);
    },
    acceptRPExtension: function(order) {
      this.$emit("acceptRPExtension", order.id, order.poExtensionRequests.slice().pop().id);
    },
    acceptPO: function(id) {
      this.$emit("acceptPO", id);
    }
  }
};
</script>